# Large ML files
*.pkl
*.csv
*.tsv

# Python
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/
backend/node_modules/

# React
frontend/build/
build/

# Vercel
.vercel

# Environment
.env
.env.local