# Ignore pkl only in ml-model folder
ml-model/Fake.csv
ml-model/True.csv
ml-model/train.tsv
ml-model/test.tsv
ml-model/valid.tsv

# Node
frontend/node_modules/
backend/node_modules/

# React
frontend/build/

# Python cache
__pycache__/
*.pyc

# Vercel
.vercel